<!DOCTYPE html>
<html>
<head>

    <!-- Stylelist -->
    <link rel="stylesheet" href="/assets/styles/review.css">


</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="../../">Home</a>
  <a href="/user">CRUD Individual Users</a>
  <a href="/store">CRUD Indiviudal Stores</a>
  <a href="/review">CRUD Individual Reviews</a>
  <a href="/users">Get all users</a>
  <a href="/stores">Get all stores</a>
  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

<div style="padding-left:50px">
   <h3 class="welcome">Individual Reviews<b><span class="name"></span></b></h3>
    
    <div> Select an option:</div>
    <button id="get">Get a review</button>
    <button id="add">Add a review</button>
    <button id="delete">Delete a review</button>
    <button id="update">Update a review</button>
</div>

<script src="../../assets/scripts/review.js"></script>



</body>
</html>